includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    checkMissingCallableSignature: true
    ignoreErrors:
        - '#Dynamic call to static method PHPUnit\\Framework\\Assert::#'
        - '#Dynamic call to static method Illuminate\\Database\\#'
        - '#Static call to instance method Illuminate\\Database\\#'
        -
            message: '#Parameter .* of method Illuminate\\Database\\Query\\Builder::raw\(\) expects#'
            paths:
                - src/Services/ConfigService.php
        -
            message: '#Cannot call method createIndex\(\) on mixed#'
            paths:
                - src/Services/ConfigService.php
        -
            message: '#Cannot call method expectsOutput#'
            paths:
                - tests/*
        -
            message: '#Cannot call method expectsOutputToContain#'
            paths:
                - tests/*
        -
            message: '#Cannot call method assertSuccessful#'
            paths:
                - tests/*
        -
            message: '#Cannot call method assertFailed#'
            paths:
                - tests/*
        -
            message: '#Cannot call method set\(\) on mixed#'
            paths:
                - tests/*
        -
            message: '#Cannot call method make\(\) on Illuminate\\Foundation\\Application\|null#'
            paths:
                - tests/*
        -
            message: '#Cannot call method forgetInstance\(\) on Illuminate\\Foundation\\Application\|null#'
            paths:
                - tests/*
        -
            message: '#Parameter .* of method Illuminate\\Database\\Query\\Builder::raw\(\) expects#'
            paths:
                - tests/*
        -
            message: '#Argument of an invalid type mixed supplied for foreach#'
            paths:
                - tests/*
        -
            message: '#Cannot call method listIndexes\(\) on mixed#'
            paths:
                - tests/*
        -
            message: '#Cannot call method getName\(\) on mixed#'
            paths:
                - tests/*
        -
            message: '#Offset .* might not exist on#'
            paths:
                - tests/*
        -
            message: '#Call to method .*assertInstanceOf\(\) .* will always evaluate to true#'
            paths:
                - tests/*
