<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="random"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="JOOservices Laravel Config Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>config</directory>
            <directory>database</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <clover outputFile="build/coverage/clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
    <php>
        <env name="APP_KEY" value="base64:2fl+Ktvk6xYfRg1+y+GURgM/u0bN2MTjC2i4xYHDUgo="/>
        <env name="APP_ENV" value="testing"/>
        <env name="CONFIG_STORE_CACHE_ENABLED" value="true"/>
        <env name="CONFIG_STORE_CACHE_KEY" value="jooservices_config_all_test"/>
        <env name="MONGODB_URI" value="mongodb://localhost:27017"/>
        <env name="MONGODB_DATABASE" value="jooservices_configs_test"/>
    </php>
</phpunit>
